@page "{TeamSize}/{Cohort}"
@model StudyBuddy.Pages.TeamBuilder.TeamBuildResultsModel
@{
}
<div class="container">
   <h1>Showing teams of @Model.Number for @Model.TeacherCohort</h1>
   @{
        var counter=1;
   }
   @foreach (var t in @Model.Teams)
   {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Team @(counter++)</h5>
                <p class="card-text">
                    @foreach (string tmt in t.Teammates)
                    {
                        <p>@tmt</p>    
                    }
                    Score:@t.TeamRating
                </p>
            </div>
        </div>
   }

</div>
